<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SAP_Time__Tracking.Properties.Settings.testConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database_SAP\test.mdb;Persist Security Info=True"
        providerName="System.Data.OleDb" />
    <!--<add name="SAP_Time__Tracking.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />-->
  </connectionStrings>

  <appSettings>
    <add key ="Mode" value ="Daily"/>
    <!-- <add key ="Mode" value ="Interval"/>-->
    <add key ="IntervalMinutes" value ="1"/>
    <add key ="ScheduledTime" value ="18:41"/>
  </appSettings>
  
</configuration>
